In [1]:
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [2]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [3]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: cannot create directory ‘dw-data’: File exists
File ‘./dw-data/201701scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/201606scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/practices.csv.gz’ already there; not retrieving.

File ‘./dw-data/chem.csv.gz’ already there; not retrieving.

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [4]:
import pandas as pd
import numpy as np
import gzip

In [48]:
scripts = pd.read_csv('dw-data/201701scripts_sample.csv.gz')
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [6]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']

with gzip.open('./dw-data/practices.csv.gz', 'rb') as f:
    practices = pd.read_csv(f, names=col_names)
    
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [7]:
with gzip.open('./dw-data/chem.csv.gz', 'rb') as f:
    chem = pd.read_csv(f)
    
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [8]:
# print(scripts['items'].sum())
desc = scripts['items'].describe()
# print(desc)
# print(desc['mean'] * desc['count'])
# print(desc['75%'])

result = []

for field in ['items', 'quantity', 'nic', 'act_cost']:
    desc = scripts[field].describe()
    
    total = scripts[field].sum()
    mean = desc['mean']
    std = desc['std']
    q25 = desc['25%']
    median = desc['50%']
    q75 = desc['75%']
    result.append((field, (total, mean, std, q25, median, q75)))

In [9]:
result

[('items', (8888304, 9.133135976111625, 29.204198282803603, 1.0, 2.0, 6.0)),
 ('quantity',
  (721457006, 741.3298348837282, 3665.426958467915, 28.0, 100.0, 350.0)),
 ('nic',
  (71100424.84000002, 73.05891517920908, 188.070256906825, 7.8, 22.64, 65.0)),
 ('act_cost',
  (66164096.11999999,
   67.98661326170655,
   174.40170332301963,
   7.33,
   21.22,
   60.67))]

In [10]:
summary_stats = result
summary_stats

[('items', (8888304, 9.133135976111625, 29.204198282803603, 1.0, 2.0, 6.0)),
 ('quantity',
  (721457006, 741.3298348837282, 3665.426958467915, 28.0, 100.0, 350.0)),
 ('nic',
  (71100424.84000002, 73.05891517920908, 188.070256906825, 7.8, 22.64, 65.0)),
 ('act_cost',
  (66164096.11999999,
   67.98661326170655,
   174.40170332301963,
   7.33,
   21.22,
   60.67))]

In [11]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [12]:
groupby_bnfname = scripts.groupby('bnf_name')
total_items_for_each_bnfname = groupby_bnfname['items'].sum()
max_item = total_items_for_each_bnfname.max()
bnfname_with_max_item = total_items_for_each_bnfname.idxmax()
item_with_highest_total = [(bnfname_with_max_item, max_item)]
print(item_with_highest_total)

[('Omeprazole_Cap E/C 20mg', 218583)]

In [13]:
most_common_item = item_with_highest_total

In [14]:
grader.score.dw__most_common_item(most_common_item)

==================
Error!
You have been rate limited for exceeding the limit of 1 per 1 second.
Please slow down your submission rate.
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [15]:
# merged_df = yelp_df.merge(census, on=['state', 'city'], how='left')
scripts.head()
# practices.head()
# joined = scripts.merge(practices, on=['practice', 'code'])
joined = scripts.set_index('practice').join(practices.set_index('code'))
print(joined.shape)
print(scripts.shape)
print(practices.shape)
# joined.head()

(1134693, 12)
(973193, 7)
(12020, 7)

In [16]:
by_pc = joined.groupby('post_code')
by_pc['items'].sum()

post_code
B11 4BW     22731
B12 9LP     23236
B18 7AL     20508
B21 9RY     31027
B23 6DJ     28011
            ...
WS7 0EW     14122
WS9 8AJ     24483
WV13 2DR    36381
YO11 1UB    28507
YO16 4LZ    53847
Name: items, Length: 289, dtype: int64

In [17]:
by_pc_and_bnfname = joined.groupby(['post_code', 'bnf_name']).last()
by_pc_and_bnfname.head()

                                                     bnf_code  items    nic  \
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C  238031080      1   3.98
          3m Health Care_Cavilon No Sting Barrier   238031080      1   5.98
          Abasaglar KwikPen_100u/ml 3ml Pf Pen      0601012V0      2  70.56
          Abidec_Dps                                090607000     17  56.61
          Able Spacer + Sml/Med Mask                210102301      1   7.16

                                                    act_cost  quantity  \
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C      3.70         1
          3m Health Care_Cavilon No Sting Barrier       5.55         1
          Abasaglar KwikPen_100u/ml 3ml Pf Pen         65.35        10
          Abidec_Dps                                   52.62       425
          Able Spacer + Sml/Med Mask                    6.64         1

                                                                               name  \
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C  THE HILL GENERAL PRACTICE & UCC
          3m Health Care_Cavilon No Sting Barrier   THE HILL GENERAL PRACTICE & UCC
          Abasaglar KwikPen_100u/ml 3ml Pf Pen      THE HILL GENERAL PRACTICE & UCC
          Abidec_Dps                                THE HILL GENERAL PRACTICE & UCC
          Able Spacer + Sml/Med Mask                                OAKWOOD SURGERY

                                                                      addr_1  \
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C        856 STRATFORD ROAD
          3m Health Care_Cavilon No Sting Barrier         856 STRATFORD ROAD
          Abasaglar KwikPen_100u/ml 3ml Pf Pen            856 STRATFORD ROAD
          Abidec_Dps                                      856 STRATFORD ROAD
          Able Spacer + Sml/Med Mask                SPARKHILL PRIM. CARE CTR

                                                                addr_2  \
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C           SPARKHILL
          3m Health Care_Cavilon No Sting Barrier            SPARKHILL
          Abasaglar KwikPen_100u/ml 3ml Pf Pen               SPARKHILL
          Abidec_Dps                                         SPARKHILL
          Able Spacer + Sml/Med Mask                856 STRATFORD ROAD

                                                       borough        village
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C  BIRMINGHAM  WEST MIDLANDS
          3m Health Care_Cavilon No Sting Barrier   BIRMINGHAM  WEST MIDLANDS
          Abasaglar KwikPen_100u/ml 3ml Pf Pen      BIRMINGHAM  WEST MIDLANDS
          Abidec_Dps                                BIRMINGHAM  WEST MIDLANDS
          Able Spacer + Sml/Med Mask                BIRMINGHAM            NaN

In [18]:
practices['code'].nunique()

10843

In [19]:
practices[practices['code'] == 'A81008']

,code,name,addr_1,addr_2,borough,village,post_code
7,A81008,ALBERT HOUSE CLINIC,LOW GRANGE HEALTH VILLAGE,NORMANBY ROAD,MIDDLESBROUGH,CLEVELAND,TS6 6TD
11414,A81008,ALBERT HOUSE CLINIC,SOUTH GRANGE MEDICAL CTR.,TRUNK ROAD ESTON,MIDDLESBROUGH,CLEVELAND,TS6 9QG

In [20]:
by_code = practices.sort_values('post_code').groupby('code')
by_code.groups

{'A81001': Int64Index([0, 9905], dtype='int64'),
 'A81002': Int64Index([1], dtype='int64'),
 'A81003': Int64Index([11057, 2], dtype='int64'),
 'A81004': Int64Index([3, 11915], dtype='int64'),
 'A81005': Int64Index([4], dtype='int64'),
 'A81006': Int64Index([5, 11058], dtype='int64'),
 'A81007': Int64Index([6], dtype='int64'),
 'A81008': Int64Index([7, 11414], dtype='int64'),
 'A81009': Int64Index([8], dtype='int64'),
 'A81011': Int64Index([9], dtype='int64'),
 'A81012': Int64Index([10], dtype='int64'),
 'A81013': Int64Index([11], dtype='int64'),
 'A81014': Int64Index([12], dtype='int64'),
 'A81015': Int64Index([13], dtype='int64'),
 'A81016': Int64Index([14], dtype='int64'),
 'A81017': Int64Index([15], dtype='int64'),
 'A81018': Int64Index([16], dtype='int64'),
 'A81019': Int64Index([17], dtype='int64'),
 'A81020': Int64Index([18], dtype='int64'),
 'A81021': Int64Index([19], dtype='int64'),
 'A81022': Int64Index([20], dtype='int64'),
 'A81023': Int64Index([21], dtype='int64'),
 'A81025': Int64Index([22], dtype='int64'),
 'A81026': Int64Index([23], dtype='int64'),
 'A81027': Int64Index([24], dtype='int64'),
 'A81029': Int64Index([25], dtype='int64'),
 'A81030': Int64Index([26], dtype='int64'),
 'A81031': Int64Index([27], dtype='int64'),
 'A81032': Int64Index([28], dtype='int64'),
 'A81033': Int64Index([29], dtype='int64'),
 'A81034': Int64Index([30], dtype='int64'),
 'A81035': Int64Index([31], dtype='int64'),
 'A81036': Int64Index([32], dtype='int64'),
 'A81037': Int64Index([33], dtype='int64'),
 'A81038': Int64Index([34], dtype='int64'),
 'A81039': Int64Index([35], dtype='int64'),
 'A81040': Int64Index([36], dtype='int64'),
 'A81041': Int64Index([37], dtype='int64'),
 'A81042': Int64Index([38, 11504], dtype='int64'),
 'A81043': Int64Index([39], dtype='int64'),
 'A81044': Int64Index([40], dtype='int64'),
 'A81045': Int64Index([41], dtype='int64'),
 'A81046': Int64Index([42], dtype='int64'),
 'A81047': Int64Index([43], dtype='int64'),
 'A81048': Int64Index([44], dtype='int64'),
 'A81049': Int64Index([45], dtype='int64'),
 'A81051': Int64Index([46], dtype='int64'),
 'A81052': Int64Index([47], dtype='int64'),
 'A81053': Int64Index([48], dtype='int64'),
 'A81054': Int64Index([49], dtype='int64'),
 'A81056': Int64Index([50], dtype='int64'),
 'A81057': Int64Index([51], dtype='int64'),
 'A81058': Int64Index([52], dtype='int64'),
 'A81060': Int64Index([53], dtype='int64'),
 'A81063': Int64Index([54], dtype='int64'),
 'A81064': Int64Index([55], dtype='int64'),
 'A81065': Int64Index([56], dtype='int64'),
 'A81066': Int64Index([57], dtype='int64'),
 'A81067': Int64Index([58], dtype='int64'),
 'A81070': Int64Index([59], dtype='int64'),
 'A81602': Int64Index([60], dtype='int64'),
 'A81605': Int64Index([61], dtype='int64'),
 'A81608': Int64Index([62], dtype='int64'),
 'A81609': Int64Index([63, 11171], dtype='int64'),
 'A81610': Int64Index([64], dtype='int64'),
 'A81611': Int64Index([65], dtype='int64'),
 'A81612': Int64Index([66], dtype='int64'),
 'A81613': Int64Index([67], dtype='int64'),
 'A81618': Int64Index([68], dtype='int64'),
 'A81621': Int64Index([69], dtype='int64'),
 'A81622': Int64Index([70, 10940, 11415], dtype='int64'),
 'A81623': Int64Index([71], dtype='int64'),
 'A81629': Int64Index([7123], dtype='int64'),
 'A81630': Int64Index([7333], dtype='int64'),
 'A81631': Int64Index([7382], dtype='int64'),
 'A81632': Int64Index([7385], dtype='int64'),
 'A81633': Int64Index([7419], dtype='int64'),
 'A81634': Int64Index([7459], dtype='int64'),
 'A82003': Int64Index([72], dtype='int64'),
 'A82004': Int64Index([73], dtype='int64'),
 'A82005': Int64Index([74], dtype='int64'),
 'A82006': Int64Index([75], dtype='int64'),
 'A82007': Int64Index([76], dtype='int64'),
 'A82008': Int64Index([77], dtype='int64'),
 'A82009': Int64Index([78], dtype='int64'),
 'A82010': Int64Index([79], dtype='int64'),
 'A82012': Int64Index([80], dtype='int64'),
 'A82013': Int64Index([11172, 81], dtype='int64'),
 'A82014': Int64Index([82], dtype='int64'),
 'A82015': Int64Index([83], dtype='int64'),
 'A82016': Int64Index([11173, 11916, 84], dtype='int64'),
 'A82017': Int64Index([11059, 85], dtype='int64'),
 'A82018': Int64Index([86], dtype='int64'),
 'A82019': Int64Index([87], dtype='int64'),
 'A82020': Int64Index([88], dtype='int64'),
 'A82021': Int64Index([10941, 89, 11060], dtype='int64'),
 'A82022': Int64Index([90, 11303], dtype='int64'),
 'A82023': Int64Index([91], dtype='int64'),
 'A82024': Int64Index([92], dtype='int64'),
 'A82025': Int64Index([93], dtype='int64'),
 'A82026': Int64Index([94], dtype='int64'),
 'A82027': Int64Index([95], dtype='int64'),
 'A82028': Int64Index([96], dtype='int64'),
 'A82029': Int64Index([97], dtype='int64'),
 'A82030': Int64Index([98], dtype='int64'),
 'A82031': Int64Index([99], dtype='int64'),
 'A82032': Int64Index([100], dtype='int64'),
 'A82033': Int64Index([101], dtype='int64'),
 'A82034': Int64Index([102], dtype='int64'),
 'A82035': Int64Index([11416, 103], dtype='int64'),
 'A82036': Int64Index([104], dtype='int64'),
 'A82037': Int64Index([105], dtype='int64'),
 'A82038': Int64Index([106], dtype='int64'),
 'A82039': Int64Index([107], dtype='int64'),
 'A82040': Int64Index([108], dtype='int64'),
 'A82041': Int64Index([109], dtype='int64'),
 'A82044': Int64Index([110], dtype='int64'),
 'A82045': Int64Index([111], dtype='int64'),
 'A82046': Int64Index([112], dtype='int64'),
 'A82047': Int64Index([113], dtype='int64'),
 'A82048': Int64Index([114], dtype='int64'),
 'A82049': Int64Index([115], dtype='int64'),
 'A82050': Int64Index([116], dtype='int64'),
 'A82052': Int64Index([11061, 117], dtype='int64'),
 'A82053': Int64Index([118], dtype='int64'),
 'A82055': Int64Index([119], dtype='int64'),
 'A82057': Int64Index([120, 10942], dtype='int64'),
 'A82058': Int64Index([121], dtype='int64'),
 'A82060': Int64Index([122], dtype='int64'),
 'A82062': Int64Index([123], dtype='int64'),
 'A82063': Int64Index([124], dtype='int64'),
 'A82064': Int64Index([125], dtype='int64'),
 'A82065': Int64Index([10548, 126], dtype='int64'),
 'A82068': Int64Index([127], dtype='int64'),
 'A82070': Int64Index([128], dtype='int64'),
 'A82071': Int64Index([129], dtype='int64'),
 'A82072': Int64Index([130], dtype='int64'),
 'A82074': Int64Index([131], dtype='int64'),
 'A82075': Int64Index([132], dtype='int64'),
 'A82077': Int64Index([6927], dtype='int64'),
 'A82608': Int64Index([133], dtype='int64'),
 'A82613': Int64Index([134], dtype='int64'),
 'A82617': Int64Index([135], dtype='int64'),
 'A82619': Int64Index([136], dtype='int64'),
 'A82620': Int64Index([137], dtype='int64'),
 'A82621': Int64Index([138], dtype='int64'),
 'A82623': Int64Index([139], dtype='int64'),
 'A82629': Int64Index([140], dtype='int64'),
 'A82631': Int64Index([141], dtype='int64'),
 'A82635': Int64Index([142], dtype='int64'),
 'A82641': Int64Index([143], dtype='int64'),
 'A82642': Int64Index([144, 10824], dtype='int64'),
 'A82646': Int64Index([145], dtype='int64'),
 'A82647': Int64Index([146], dtype='int64'),
 'A82650': Int64Index([6725], dtype='int64'),
 'A82651': Int64Index([6851], dtype='int64'),
 'A82654': Int64Index([7313, 11725], dtype='int64'),
 'A83001': Int64Index([147], dtype='int64'),
 'A83003': Int64Index([148], dtype='int64'),
 'A83004': Int64Index([149], dtype='int64'),
 'A83005': Int64Index([150], dtype='int64'),
 'A83006': Int64Index([151], dtype='int64'),
 'A83007': Int64Index([152], dtype='int64'),
 'A83008': Int64Index([153], dtype='int64'),
 'A83009': Int64Index([154], dtype='int64'),
 'A83010': Int64Index([155], dtype='int64'),
 'A83011': Int64Index([156], dtype='int64'),
 'A83012': Int64Index([157], dtype='int64'),
 'A83013': Int64Index([158], dtype='int64'),
 'A83014': Int64Index([159], dtype='int64'),
 'A83015': Int64Index([160], dtype='int64'),
 'A83016': Int64Index([161], dtype='int64'),
 'A83017': Int64Index([162], dtype='int64'),
 'A83018': Int64Index([163], dtype='int64'),
 'A83019': Int64Index([11593, 164], dtype='int64'),
 'A83020': Int64Index([165], dtype='int64'),
 'A83021': Int64Index([166], dtype='int64'),
 'A83022': Int64Index([167], dtype='int64'),
 'A83023': Int64Index([168], dtype='int64'),
 'A83024': Int64Index([169], dtype='int64'),
 'A83025': Int64Index([170], dtype='int64'),
 'A83026': Int64Index([171], dtype='int64'),
 'A83027': Int64Index([172], dtype='int64'),
 'A83028': Int64Index([173], dtype='int64'),
 'A83029': Int64Index([174], dtype='int64'),
 'A83030': Int64Index([175], dtype='int64'),
 'A83031': Int64Index([176], dtype='int64'),
 'A83032': Int64Index([177], dtype='int64'),
 'A83033': Int64Index([178], dtype='int64'),
 'A83034': Int64Index([179], dtype='int64'),
 'A83035': Int64Index([180], dtype='int64'),
 'A83036': Int64Index([181], dtype='int64'),
 'A83037': Int64Index([182], dtype='int64'),
 'A83038': Int64Index([183], dtype='int64'),
 'A83040': Int64Index([184], dtype='int64'),
 'A83041': Int64Index([185], dtype='int64'),
 'A83042': Int64Index([186], dtype='int64'),
 'A83043': Int64Index([187], dtype='int64'),
 'A83044': Int64Index([188], dtype='int64'),
 'A83045': Int64Index([189], dtype='int64'),
 'A83046': Int64Index([190], dtype='int64'),
 'A83047': Int64Index([191], dtype='int64'),
 'A83048': Int64Index([192], dtype='int64'),
 'A83049': Int64Index([193], dtype='int64'),
 'A83050': Int64Index([194], dtype='int64'),
 'A83051': Int64Index([195], dtype='int64'),
 'A83052': Int64Index([196], dtype='int64'),
 'A83054': Int64Index([197], dtype='int64'),
 'A83055': Int64Index([198], dtype='int64'),
 'A83057': Int64Index([199], dtype='int64'),
 'A83060': Int64Index([200], dtype='int64'),
 'A83061': Int64Index([201], dtype='int64'),
 'A83066': Int64Index([202], dtype='int64'),
 'A83068': Int64Index([203], dtype='int64'),
 'A83070': Int64Index([204, 11917, 11788], dtype='int64'),
 'A83071': Int64Index([205], dtype='int64'),
 'A83072': Int64Index([206], dtype='int64'),
 'A83073': Int64Index([207], dtype='int64'),
 'A83074': Int64Index([6829], dtype='int64'),
 'A83075': Int64Index([6837], dtype='int64'),
 'A83076': Int64Index([6875], dtype='int64'),
 'A83603': Int64Index([208], dtype='int64'),
 'A83610': Int64Index([209], dtype='int64'),
 'A83616': Int64Index([210], dtype='int64'),
 'A83617': Int64Index([211], dtype='int64'),
 'A83618': Int64Index([212], dtype='int64'),
 'A83619': Int64Index([213], dtype='int64'),
 'A83622': Int64Index([214], dtype='int64'),
 'A83626': Int64Index([215], dtype='int64'),
 'A83627': Int64Index([216], dtype='int64'),
 'A83630': Int64Index([217], dtype='int64'),
 'A83632': Int64Index([6771], dtype='int64'),
 'A83634': Int64Index([6991], dtype='int64'),
 'A83635': Int64Index([6992], dtype='int64'),
 'A83636': Int64Index([7013], dtype='int64'),
 'A83637': Int64Index([7117, 11960], dtype='int64'),
 'A83638': Int64Index([7133, 11109], dtype='int64'),
 'A83641': Int64Index([7291], dtype='int64'),
 'A83642': Int64Index([7308], dtype='int64'),
 'A83643': Int64Index([7324], dtype='int64'),
 'A83644': Int64Index([7365], dtype='int64'),
 'A83645': Int64Index([7398], dtype='int64'),
 'A84002': Int64Index([218], dtype='int64'),
 'A84003': Int64Index([219], dtype='int64'),
 'A84005': Int64Index([220], dtype='int64'),
 'A84006': Int64Index([221], dtype='int64'),
 'A84007': Int64Index([222], dtype='int64'),
 'A84008': Int64Index([223], dtype='int64'),
 'A84009': Int64Index([224, 11789, 11672], dtype='int64'),
 'A84011': Int64Index([225], dtype='int64'),
 'A84013': Int64Index([226], dtype='int64'),
 'A84014': Int64Index([227], dtype='int64'),
 'A84015': Int64Index([228], dtype='int64'),
 'A84016': Int64Index([229], dtype='int64'),
 'A84018': Int64Index([230], dtype='int64'),
 'A84020': Int64Index([231], dtype='int64'),
 'A84021': Int64Index([232], dtype='int64'),
 'A84022': Int64Index([233], dtype='int64'),
 'A84024': Int64Index([234], dtype='int64'),
 'A84025': Int64Index([235], dtype='int64'),
 'A84026': Int64Index([236], dtype='int64'),
 'A84027': Int64Index([237], dtype='int64'),
 'A84028': Int64Index([238], dtype='int64'),
 'A84029': Int64Index([239], dtype='int64'),
 'A84030': Int64Index([240], dtype='int64'),
 'A84031': Int64Index([241], dtype='int64'),
 'A84032': Int64Index([242], dtype='int64'),
 'A84033': Int64Index([243], dtype='int64'),
 'A84034': Int64Index([244], dtype='int64'),
 'A84035': Int64Index([245], dtype='int64'),
 'A84036': Int64Index([246], dtype='int64'),
 'A84037': Int64Index([247], dtype='int64'),
 'A84038': Int64Index([248], dtype='int64'),
 'A84039': Int64Index([249], dtype='int64'),
 'A84040': Int64Index([250], dtype='int64'),
 'A84042': Int64Index([251], dtype='int64'),
 'A84043': Int64Index([252], dtype='int64'),
 'A84044': Int64Index([253], dtype='int64'),
 'A84045': Int64Index([254], dtype='int64'),
 'A84047': Int64Index([255], dtype='int64'),
 'A84048': Int64Index([7166, 11723], dtype='int64'),
 'A84604': Int64Index([256], dtype='int64'),
 'A84609': Int64Index([257], dtype='int64'),
 'A84613': Int64Index([258], dtype='int64'),
 'A84614': Int64Index([6656], dtype='int64'),
 'A84619': Int64Index([7295], dtype='int64'),
 'A85001': Int64Index([259], dtype='int64'),
 'A85002': Int64Index([260], dtype='int64'),
 'A85003': Int64Index([261], dtype='int64'),
 'A85004': Int64Index([262], dtype='int64'),
 'A85005': Int64Index([263], dtype='int64'),
 'A85006': Int64Index([264], dtype='int64'),
 'A85007': Int64Index([265], dtype='int64'),
 'A85008': Int64Index([266], dtype='int64'),
 'A85009': Int64Index([267], dtype='int64'),
 'A85010': Int64Index([268], dtype='int64'),
 'A85011': Int64Index([269], dtype='int64'),
 'A85012': Int64Index([270], dtype='int64'),
 'A85013': Int64Index([271], dtype='int64'),
 'A85014': Int64Index([272], dtype='int64'),
 'A85016': Int64Index([273], dtype='int64'),
 'A85017': Int64Index([274], dtype='int64'),
 'A85018': Int64Index([275], dtype='int64'),
 'A85019': Int64Index([276], dtype='int64'),
 'A85020': Int64Index([277], dtype='int64'),
 'A85021': Int64Index([278], dtype='int64'),
 'A85023': Int64Index([279], dtype='int64'),
 'A85024': Int64Index([280], dtype='int64'),
 'A85026': Int64Index([6918], dtype='int64'),
 'A85605': Int64Index([281], dtype='int64'),
 'A85609': Int64Index([282], dtype='int64'),
 'A85611': Int64Index([283], dtype='int64'),
 'A85614': Int64Index([284], dtype='int64'),
 'A85616': Int64Index([6697], dtype='int64'),
 'A85617': Int64Index([7068], dtype='int64'),
 'A85620': Int64Index([7423], dtype='int64'),
 'A85621': Int64Index([7452], dtype='int64'),
 'A86003': Int64Index([285], dtype='int64'),
 'A86004': Int64Index([286], dtype='int64'),
 'A86005': Int64Index([287], dtype='int64'),
 'A86006': Int64Index([288], dtype='int64'),
 'A86007': Int64Index([289], dtype='int64'),
 'A86008': Int64Index([290], dtype='int64'),
 'A86009': Int64Index([291, 11062], dtype='int64'),
 'A86010': Int64Index([292], dtype='int64'),
 'A86011': Int64Index([293], dtype='int64'),
 'A86012': Int64Index([294], dtype='int64'),
 'A86013': Int64Index([295], dtype='int64'),
 'A86015': Int64Index([296], dtype='int64'),
 'A86016': Int64Index([297], dtype='int64'),
 'A86017': Int64Index([298], dtype='int64'),
 'A86018': Int64Index([299], dtype='int64'),
 'A86020': Int64Index([300], dtype='int64'),
 'A86021': Int64Index([301], dtype='int64'),
 'A86022': Int64Index([302], dtype='int64'),
 'A86023': Int64Index([303], dtype='int64'),
 'A86024': Int64Index([304], dtype='int64'),
 'A86025': Int64Index([305], dtype='int64'),
 'A86026': Int64Index([306], dtype='int64'),
 'A86027': Int64Index([307], dtype='int64'),
 'A86028': Int64Index([308], dtype='int64'),
 'A86029': Int64Index([309], dtype='int64'),
 'A86030': Int64Index([310], dtype='int64'),
 'A86031': Int64Index([311], dtype='int64'),
 'A86033': Int64Index([312], dtype='int64'),
 'A86035': Int64Index([313], dtype='int64'),
 'A86036': Int64Index([314], dtype='int64'),
 'A86037': Int64Index([315], dtype='int64'),
 'A86038': Int64Index([316], dtype='int64'),
 'A86040': Int64Index([7000], dtype='int64'),
 'A86041': Int64Index([7188], dtype='int64'),
 'A86601': Int64Index([317], dtype='int64'),
 'A87002': Int64Index([318], dtype='int64'),
 'A87003': Int64Index([319], dtype='int64'),
 'A87004': Int64Index([320], dtype='int64'),
 'A87005': Int64Index([321], dtype='int64'),
 'A87006': Int64Index([322], dtype='int64'),
 'A87007': Int64Index([323], dtype='int64'),
 'A87008': Int64Index([324], dtype='int64'),
 'A87009': Int64Index([325], dtype='int64'),
 'A87011': Int64Index([326], dtype='int64'),
 'A87012': Int64Index([327], dtype='int64'),
 'A87013': Int64Index([328], dtype='int64'),
 'A87014': Int64Index([329], dtype='int64'),
 'A87015': Int64Index([330], dtype='int64'),
 'A87016': Int64Index([331], dtype='int64'),
 'A87017': Int64Index([332], dtype='int64'),
 'A87019': Int64Index([333], dtype='int64'),
 'A87020': Int64Index([334], dtype='int64'),
 'A87022': Int64Index([335], dtype='int64'),
 'A87023': Int64Index([10549, 336], dtype='int64'),
 'A87027': Int64Index([337], dtype='int64'),
 'A87029': Int64Index([338], dtype='int64'),
 'A87030': Int64Index([339], dtype='int64'),
 'A87600': Int64Index([340], dtype='int64'),
 'A87612': Int64Index([341], dtype='int64'),
 'A87615': Int64Index([6679], dtype='int64'),
 'A88001': Int64Index([342], dtype='int64'),
 'A88002': Int64Index([343], dtype='int64'),
 'A88003': Int64Index([344], dtype='int64'),
 'A88004': Int64Index([345], dtype='int64'),
 'A88005': Int64Index([346], dtype='int64'),
 'A88006': Int64Index([347], dtype='int64'),
 'A88007': Int64Index([348], dtype='int64'),
 'A88008': Int64Index([349], dtype='int64'),
 'A88009': Int64Index([350], dtype='int64'),
 'A88010': Int64Index([351], dtype='int64'),
 'A88011': Int64Index([11918, 352], dtype='int64'),
 'A88012': Int64Index([353], dtype='int64'),
 'A88013': Int64Index([354], dtype='int64'),
 'A88014': Int64Index([355, 10825], dtype='int64'),
 'A88015': Int64Index([356], dtype='int64'),
 'A88016': Int64Index([357, 9906], dtype='int64'),
 'A88020': Int64Index([11673, 358], dtype='int64'),
 'A88022': Int64Index([359], dtype='int64'),
 'A88023': Int64Index([360], dtype='int64'),
 'A88025': Int64Index([361], dtype='int64'),
 'A88601': Int64Index([362], dtype='int64'),
 'A88603': Int64Index([363], dtype='int64'),
 'A88608': Int64Index([364], dtype='int64'),
 'A88611': Int64Index([365], dtype='int64'),
 'A88613': Int64Index([7192], dtype='int64'),
 'A88614': Int64Index([7303], dtype='int64'),
 'A89001': Int64Index([366], dtype='int64'),
 'A89002': Int64Index([367], dtype='int64'),
 'A89003': Int64Index([368], dtype='int64'),
 'A89004': Int64Index([369], dtype='int64'),
 'A89005': Int64Index([370], dtype='int64'),
 'A89006': Int64Index([10338, 371], dtype='int64'),
 'A89007': Int64Index([372], dtype='int64'),
 'A89008': Int64Index([373], dtype='int64'),
 'A89009': Int64Index([374], dtype='int64'),
 'A89010': Int64Index([375], dtype='int64'),
 'A89011': Int64Index([376], dtype='int64'),
 'A89012': Int64Index([377], dtype='int64'),
 'A89013': Int64Index([378], dtype='int64'),
 'A89014': Int64Index([11304, 379], dtype='int64'),
 'A89015': Int64Index([380], dtype='int64'),
 'A89016': Int64Index([381], dtype='int64'),
 'A89017': Int64Index([382], dtype='int64'),
 'A89018': Int64Index([383], dtype='int64'),
 'A89019': Int64Index([384], dtype='int64'),
 'A89020': Int64Index([385], dtype='int64'),
 'A89021': Int64Index([386], dtype='int64'),
 'A89022': Int64Index([387], dtype='int64'),
 'A89023': Int64Index([388], dtype='int64'),
 'A89024': Int64Index([389], dtype='int64'),
 'A89025': Int64Index([11305, 390], dtype='int64'),
 'A89026': Int64Index([391], dtype='int64'),
 'A89027': Int64Index([392], dtype='int64'),
 'A89028': Int64Index([393], dtype='int64'),
 'A89029': Int64Index([394], dtype='int64'),
 'A89030': Int64Index([395], dtype='int64'),
 'A89031': Int64Index([396], dtype='int64'),
 'A89032': Int64Index([397], dtype='int64'),
 'A89034': Int64Index([398], dtype='int64'),
 'A89035': Int64Index([399], dtype='int64'),
 'A89036': Int64Index([400], dtype='int64'),
 'A89038': Int64Index([11306, 401], dtype='int64'),

In [21]:
practices.loc[9905].reset_index()

       index                 9905
0       code               A81001
1       name  THE DENSHAM SURGERY
2     addr_1    THE HEALTH CENTRE
3     addr_2        LAWSON STREET
4    borough     STOCKTON-ON-TEES
5    village            CLEVELAND
6  post_code             TS18 1HU

In [22]:
by_code.first().reset_index().head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,MCKENZIE HOUSE,17 KENDAL ROAD,HARTLEPOOL,CLEVELAND,TS25 1QU
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,ACKLAM,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [23]:
by_code.first().reset_index()[['code', 'post_code']].head()

     code post_code
0  A81001  TS18 1HU
1  A81002  TS18 2AW
2  A81003  TS25 1QU
3  A81004   TS1 3BE
4  A81005  TS14 7DJ

In [24]:
# Get a list of unique practices
unique_practices = practices.sort_values('post_code').groupby('code').first().reset_index()[['code', 'post_code']]
unique_practices.head()

     code post_code
0  A81001  TS18 1HU
1  A81002  TS18 2AW
2  A81003  TS25 1QU
3  A81004   TS1 3BE
4  A81005  TS14 7DJ

In [25]:
unique_practices = practices[['code', 'post_code']].sort_values(['code', 'post_code']).drop_duplicates(subset='code').reset_index().drop('index', axis=1)
unique_practices.head()

     code post_code
0  A81001  TS18 1HU
1  A81002  TS18 2AW
2  A81003  TS25 1QU
3  A81004   TS1 3BE
4  A81005  TS14 7DJ

In [26]:
# Join unique_practices with scripts
joined = scripts.merge(unique_practices,
                      left_on='practice',
                      right_on='code',
                      how='left')

In [27]:
joined.head()
joined[joined.bnf_name == 'Aspirin Disper_Tab 75mg'].groupby('post_code')['items'].sum().reset_index().tail()

    post_code  items
253   WS3 3JP    527
254   WS9 8AJ    364
255  WV13 2DR    535
256  YO11 1UB    323
257  YO16 4LZ   1194

In [28]:
# find the Total items for each bnf_name in each post_code
post_item_totals = joined.groupby(['post_code', 'bnf_name'])['items'].sum().reset_index().sort_values(['post_code', 'items'], ascending=False)
post_item_totals.head()

       post_code                          bnf_name  items
576696  YO16 4LZ           Aspirin Disper_Tab 75mg   1194
576703  YO16 4LZ             Atorvastatin_Tab 20mg   1122
578363  YO16 4LZ           Omeprazole_Cap E/C 20mg   1119
577959  YO16 4LZ  Lansoprazole_Cap 30mg (E/C Gran)   1044
578443  YO16 4LZ                 Paracet_Tab 500mg   1012

In [29]:
# Find the most commonly prescriped item in each post code
max_items = post_item_totals.groupby('post_code').first()
max_items.head()

                                     bnf_name  items
post_code
B11 4BW    Salbutamol_Inha 100mcg (200 D) CFF    706
B12 9LP                     Paracet_Tab 500mg    425
B18 7AL    Salbutamol_Inha 100mcg (200 D) CFF    556
B21 9RY               Metformin HCl_Tab 500mg   1033
B23 6DJ      Lansoprazole_Cap 30mg (E/C Gran)    599

In [30]:
max_items.shape

(259, 2)

In [31]:
post_code_totals = post_item_totals.groupby('post_code')['items'].sum()
post_code_totals.head()

post_code
B11 4BW    22731
B12 9LP    17073
B18 7AL    20508
B21 9RY    31027
B23 6DJ    28011
Name: items, dtype: int64

In [32]:
max_items['post_totals'] = post_code_totals
max_items['proportions'] = max_items['items'] / max_items['post_totals']
max_items.head()

                                     bnf_name  items  post_totals  proportions
post_code
B11 4BW    Salbutamol_Inha 100mcg (200 D) CFF    706        22731     0.031059
B12 9LP                     Paracet_Tab 500mg    425        17073     0.024893
B18 7AL    Salbutamol_Inha 100mcg (200 D) CFF    556        20508     0.027111
B21 9RY               Metformin HCl_Tab 500mg   1033        31027     0.033294
B23 6DJ      Lansoprazole_Cap 30mg (E/C Gran)    599        28011     0.021384

In [33]:
max_items.drop(['items', 'post_totals'], axis=1, inplace=True)
max_items

                                     bnf_name  proportions
post_code
B11 4BW    Salbutamol_Inha 100mcg (200 D) CFF     0.031059
B12 9LP                     Paracet_Tab 500mg     0.024893
B18 7AL    Salbutamol_Inha 100mcg (200 D) CFF     0.027111
B21 9RY               Metformin HCl_Tab 500mg     0.033294
B23 6DJ      Lansoprazole_Cap 30mg (E/C Gran)     0.021384
...                                       ...          ...
WS3 3JP                     Paracet_Tab 500mg     0.021388
WS9 8AJ                    Amlodipine_Tab 5mg     0.016174
WV13 2DR   Salbutamol_Inha 100mcg (200 D) CFF     0.022237
YO11 1UB              Omeprazole_Cap E/C 20mg     0.029712
YO16 4LZ              Aspirin Disper_Tab 75mg     0.022174

[259 rows x 2 columns]

In [34]:
items_by_region = list(max_items.itertuples())[:100]
items_by_region

[Pandas(Index='B11 4BW', bnf_name='Salbutamol_Inha 100mcg (200 D) CFF', proportions=0.031058906339360346),
 Pandas(Index='B12 9LP', bnf_name='Paracet_Tab 500mg', proportions=0.02489310607391788),
 Pandas(Index='B18 7AL', bnf_name='Salbutamol_Inha 100mcg (200 D) CFF', proportions=0.027111371172225472),
 Pandas(Index='B21 9RY', bnf_name='Metformin HCl_Tab 500mg', proportions=0.03329358300834757),
 Pandas(Index='B23 6DJ', bnf_name='Lansoprazole_Cap 30mg (E/C Gran)', proportions=0.021384456106529576),
 Pandas(Index='B61 0AZ', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.028713318284424378),
 Pandas(Index='B70 7AW', bnf_name='Paracet_Tab 500mg', proportions=0.025135992162726547),
 Pandas(Index='B72 1RL', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.020228765092141495),
 Pandas(Index='B8 1RZ', bnf_name='Metformin HCl_Tab 500mg', proportions=0.021347750961484866),
 Pandas(Index='B9 5PU', bnf_name='Ventolin_Evohaler 100mcg (200 D)', proportions=0.024826024522257815),
 Pandas(Index='B90 3LX', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.026965103983080718),
 Pandas(Index='BA5 1XJ', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.028261290947858113),
 Pandas(Index='BB11 2DL', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.027381741821396993),
 Pandas(Index='BB2 1AX', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03428191046763188),
 Pandas(Index='BB3 1PY', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.032683395995453356),
 Pandas(Index='BB4 5SL', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03747689029549087),
 Pandas(Index='BB4 7PL', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.027477496877557173),
 Pandas(Index='BB7 2JG', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.027980664806967485),
 Pandas(Index='BB8 0JZ', bnf_name='Atorvastatin_Tab 20mg', proportions=0.021515746650768042),
 Pandas(Index='BB9 7SR', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.02247662283190644),
 Pandas(Index='BD16 4RP', bnf_name='Lansoprazole_Cap 30mg (E/C Gran)', proportions=0.022780283004198414),
 Pandas(Index='BD19 5AP', bnf_name='Lansoprazole_Cap 30mg (E/C Gran)', proportions=0.02066220372715759),
 Pandas(Index='BD3 8QH', bnf_name='Atorvastatin_Tab 40mg', proportions=0.031662850096882154),
 Pandas(Index='BD4 7SS', bnf_name='Atorvastatin_Tab 40mg', proportions=0.03424183501960914),
 Pandas(Index='BH14 0DJ', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.02838931332218254),
 Pandas(Index='BH18 8EE', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.027092370049064923),
 Pandas(Index='BH23 3AF', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03546099290780142),
 Pandas(Index='BL1 3RG', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03362566656383588),
 Pandas(Index='BL1 8TU', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.027729220222793487),
 Pandas(Index='BL2 6NT', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.0271567320510379),
 Pandas(Index='BL3 5HP', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03129933420275929),
 Pandas(Index='BL9 0NJ', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.032037565382786494),
 Pandas(Index='BL9 0SN', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03090454288711369),
 Pandas(Index='BN1 6AG', bnf_name='Lansoprazole_Cap 15mg (E/C Gran)', proportions=0.021755523716160168),
 Pandas(Index='BN1 8DD', bnf_name='Aspirin Disper_Tab 75mg', proportions=0.021517850460294887),
 Pandas(Index='BN9 9PW', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.01855317763853853),
 Pandas(Index='BR2 9GT', bnf_name='Influenza_Vac Inact 0.5ml Pfs', proportions=0.04301700334253742),
 Pandas(Index='BR3 3FD', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.02865911645197545),
 Pandas(Index='BS16 3TD', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03752737892431249),
 Pandas(Index='BS23 3HQ', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.030246216399367518),
 Pandas(Index='BS4 1WH', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.029600778967867575),
 Pandas(Index='BS4 4HU', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.037361354349095155),
 Pandas(Index='BS48 2XX', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.030207346595095254),
 Pandas(Index='CA11 8HW', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.027868623340321454),
 Pandas(Index='CB22 3HU', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.038775726713346066),
 Pandas(Index='CB9 8HF', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03391110538046382),
 Pandas(Index='CH1 4DS', bnf_name='Lansoprazole_Cap 30mg (E/C Gran)', proportions=0.0257736189772634),
 Pandas(Index='CH41 8DB', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03327732469980738),
 Pandas(Index='CH44 5UF', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03327334826839032),
 Pandas(Index='CH62 5HS', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.037778835690968446),
 Pandas(Index='CH62 6EE', bnf_name='Influenza_Vac Inact 0.5ml Pfs', proportions=0.057585894269547),
 Pandas(Index='CH65 6TG', bnf_name='Lansoprazole_Cap 30mg (E/C Gran)', proportions=0.026067517902474142),
 Pandas(Index='CH66 3PB', bnf_name='Lansoprazole_Cap 30mg (E/C Gran)', proportions=0.03100619319552803),
 Pandas(Index='CM18 6LY', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.026445315758738635),
 Pandas(Index='CR0 0JA', bnf_name='Salbutamol_Inha 100mcg (200 D) CFF', proportions=0.021571724750715768),
 Pandas(Index='CT11 8AD', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.022307039864291774),
 Pandas(Index='CV1 4FS', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.028455180531743392),
 Pandas(Index='CV12 8NQ', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.026444799282852902),
 Pandas(Index='CV21 2DN', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.04102890311294875),
 Pandas(Index='CV6 2FL', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.036250663502669624),
 Pandas(Index='CV6 6DR', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.030544721504009817),
 Pandas(Index='CW1 3AW', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03558258199497268),
 Pandas(Index='CW5 5NX', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03453647138997736),
 Pandas(Index='CW7 1AT', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03666371289322109),
 Pandas(Index='DA1 2HA', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.019244977658938185),
 Pandas(Index='DA11 8BZ', bnf_name='Amoxicillin_Cap 500mg', proportions=0.019686834904226208),
 Pandas(Index='DN16 2AB', bnf_name='Amlodipine_Tab 5mg', proportions=0.019925280199252802),
 Pandas(Index='DN22 7XF', bnf_name='Simvastatin_Tab 40mg', proportions=0.018624361621210474),
 Pandas(Index='DN31 3AE', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03432952436761402),
 Pandas(Index='DN34 4GB', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03709507845509909),
 Pandas(Index='DN6 0HZ', bnf_name='Paracet_Tab 500mg', proportions=0.025764099668243102),
 Pandas(Index='DN8 4BQ', bnf_name='Lansoprazole_Cap 30mg (E/C Gran)', proportions=0.021703061442945835),
 Pandas(Index='DY11 6SF', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.021081859317153433),
 Pandas(Index='E15 4ES', bnf_name='Amlodipine_Tab 10mg', proportions=0.02569068641412703),
 Pandas(Index='E7 0EP', bnf_name='Metformin HCl_Tab 500mg', proportions=0.037244933982913224),
 Pandas(Index='FY2 0JG', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03627638093657511),
 Pandas(Index='FY4 1TJ', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.04334478808705613),
 Pandas(Index='FY5 2TZ', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.03540407051009112),
 Pandas(Index='FY5 3LF', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.035122866094073016),
 Pandas(Index='FY7 8GU', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.032058079778122195),
 Pandas(Index='FY8 5DZ', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.02969960416717259),
 Pandas(Index='GL1 3PX', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.025687801991914012),
 Pandas(Index='GL20 5GJ', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.02412690753362688),
 Pandas(Index='GL50 4DP', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.024009042366605605),
 Pandas(Index='GU9 9QS', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.027052485943893322),
 Pandas(Index='HA0 4UZ', bnf_name='Metformin HCl_Tab 500mg', proportions=0.027855843941147297),
 Pandas(Index='HA3 7LT', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.02504635488712953),
 Pandas(Index='HD6 1AT', bnf_name='Lansoprazole_Cap 30mg (E/C Gran)', proportions=0.021017471736896196),
 Pandas(Index='HG1 5AR', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.02842489568845619),
 Pandas(Index='HR1 2JB', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.028529603122966818),
 Pandas(Index='HR6 8HD', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.027207967812149594),
 Pandas(Index='HU7 4DW', bnf_name='Salbutamol_Inha 100mcg (200 D) CFF', proportions=0.025607843137254904),
 Pandas(Index='HU9 2LJ', bnf_name='Lansoprazole_Cap 30mg (E/C Gran)', proportions=0.0243192109011288),
 Pandas(Index='IG7 4DF', bnf_name='Amlodipine_Tab 5mg', proportions=0.01956475808155504),
 Pandas(Index='IP22 4WG', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.02851095218241878),
 Pandas(Index='KT12 3LB', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.01828471919895516),
 Pandas(Index='KT14 6DH', bnf_name='Amlodipine_Tab 5mg', proportions=0.018667887710894296),
 Pandas(Index='KT16 8HZ', bnf_name='Amlodipine_Tab 5mg', proportions=0.019319714781268066),
 Pandas(Index='KT6 6EZ', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.02821316614420063),
 Pandas(Index='L31 0DJ', bnf_name='Omeprazole_Cap E/C 20mg', proportions=0.029425653739448675)]

In [35]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score:  1.0
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [14]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [17]:
mask = chem['NAME'].str.contains('|'.join(opioids), case=False)
opioid_codes = chem[mask]['CHEM SUB']

In [18]:
scripts['opioids'] = scripts['bnf_code'].isin(opioid_codes).astype(int)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioids
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,0
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,0
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,0
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,0
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,0

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [19]:
opioids_per_practice = scripts.groupby('practice')['opioids'].mean()
opioids_per_practice.head()

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
Name: opioids, dtype: float64

In [20]:
overall_mean = scripts['opioids'].mean()
overall_mean

0.03580276471367961

In [21]:
relative_opioids_per_practice = opioids_per_practice - overall_mean

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [22]:
relative_opioids_per_practice.head()

practice
A81005   -0.002624
A81007    0.007526
A81011    0.010753
A81012    0.006990
A81017    0.002337
Name: opioids, dtype: float64

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$  

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

Recall that the std deviation $({\sigma})$ is the square root of the Variance $(\sqrt{Var})$, that is:

$\sigma = \sqrt{Var}$

Combining this with the equation for **standard error**, we get:

$ \dfrac{\sigma}{\sqrt{n}} = {\dfrac{\sqrt{Var}}{\sqrt{n}}} = \sqrt{\dfrac{Var}{n}}$

In [23]:
np.sqrt(scripts['opioids'].var() / scripts['practice'].value_counts()).head()

N83028    0.003484
L83100    0.003513
D81043    0.003747
B81008    0.003796
B81026    0.003835
Name: practice, dtype: float64

In [24]:
n_sqrt = np.sqrt(scripts.groupby('practice')['bnf_code'].count().head())
n_sqrt.head()
scripts['practice'].value_counts().sort_index()

A81005    1507
A81007    1454
A81011    1568
A81012    1332
A81017    2150
          ...
Y05570      22
Y05583      28
Y05597      18
Y05660     347
Y05670      12
Name: practice, Length: 856, dtype: int64

In [25]:
standard_error_per_practice = np.sqrt(scripts['opioids'].var() / scripts['practice'].value_counts())
opioid_scores = relative_opioids_per_practice / standard_error_per_practice

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [26]:
practices.code.nunique()

10843

In [27]:
unique_practices = (practices
                     .sort_values(['code', 'name'])
                     .drop_duplicates(subset=['code'], keep='first'))

# unique_practices

In [28]:
unique_practices = unique_practices[['code', 'name']]
unique_practices.head()

         code                        name
0      A81001         THE DENSHAM SURGERY
1      A81002  QUEENS PARK MEDICAL CENTRE
2      A81003   VICTORIA MEDICAL PRACTICE
11915  A81004     BLUEBELL MEDICAL CENTRE
4      A81005          SPRINGWOOD SURGERY

In [29]:
results = (unique_practices
             .merge(opioid_scores.rename('score'),
                   left_on='code',
                   right_index=True))

results = results.merge(scripts['practice']
                       .value_counts()
                       .rename('count'),
                       left_on='code',
                       right_index=True)

results.sort_values(by='score', ascending=False, inplace=True)

results.drop('code', axis=1, inplace=True)
results.head()

                                 name      score  count
7954        NATIONAL ENHANCED SERVICE  11.695818      7
8456         OUTREACH SERVICE NH / RH   7.339043      2
8783  BRISDOC HEALTHCARE SERVICES OOH   6.150582     60
7454           H&R P C SPECIAL SCHEME   5.123032     36
9718                   HMR BARDOC OOH   4.958866    321

In [30]:
anomalies = list(results.itertuples(index=False, name=None))[:100]
anomalies[:2]

[('NATIONAL ENHANCED SERVICE', 11.695817862936027, 7),
 ('OUTREACH SERVICE NH / RH', 7.339043019238823, 2)]

In [31]:
unique_practices = ...
# anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100

In [32]:
# results.head()

In [33]:
grader.score.dw__script_anomalies(anomalies)

==================
Your score:  1.0
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [8]:
scripts16 = pd.read_csv('./dw-data/201606scripts_sample.csv.gz')

In [9]:
scripts16.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [11]:
# scripts.bnf_name.value_counts() - scripts16.bnf_name.value_counts()

In [19]:
scripts.groupby('bnf_name')['bnf_name'].count()

bnf_name
365 Film 10cm x 12cm VP Adh Film Dress      1
365 Non Adherent 10cm x 10cm Pfa Plas Fa    3
365 Non Adherent 10cm x 20cm Pfa Plas Fa    1
365 Non Woven Island 8cm x 10cm Adh Dres    1
365 Transpt Island 5cm x 7.2cm VP Adh Fi    2
                                           ..
nSpire PiKo-1 Stnd Range Peak Flow Meter    1
nSpire Pocket Peak Low Range Peak Flow M    4
nSpire Pocket Peak Stnd Range Peak Flow     5
oraNurse_Toothpaste Orig (1450ppm)          4
palmdoc (Reagent)_Strips                    5
Name: bnf_name, Length: 13471, dtype: int64

In [36]:
scripts17_grp_by_bnf_name = scripts.groupby(['bnf_name'])['bnf_name'].count().reset_index(name='count')
scripts17_grp_by_bnf_name = scripts17_grp_by_bnf_name[scripts17_grp_by_bnf_name['count'] > 0]
scripts17_grp_by_bnf_name.head()

                                   bnf_name  count
0    365 Film 10cm x 12cm VP Adh Film Dress      1
1  365 Non Adherent 10cm x 10cm Pfa Plas Fa      3
2  365 Non Adherent 10cm x 20cm Pfa Plas Fa      1
3  365 Non Woven Island 8cm x 10cm Adh Dres      1
4  365 Transpt Island 5cm x 7.2cm VP Adh Fi      2

In [37]:
scripts16_grp_by_bnf_name = scripts16.groupby(['bnf_name'])['bnf_name'].count().reset_index(name='count')
scripts16_grp_by_bnf_name = scripts16_grp_by_bnf_name[scripts16_grp_by_bnf_name['count'] >= 50]
scripts16_grp_by_bnf_name.head()

                                    bnf_name  count
10  3m Health Care_Cavilon Durable Barrier C    825
11  3m Health Care_Cavilon No Sting 1ml Barr    231
12  3m Health Care_Cavilon No Sting 3ml Barr    105
13   3m Health Care_Cavilon No Sting Barrier    454
16         A.S Saliva Orthana Spy 50ml (App)     84

In [42]:
merged_scripts = pd.merge(scripts16_grp_by_bnf_name, scripts17_grp_by_bnf_name, on='bnf_name', how='inner')

merged_scripts.head()

                                   bnf_name  count_x  count_y
0  3m Health Care_Cavilon Durable Barrier C      825      816
1  3m Health Care_Cavilon No Sting 1ml Barr      231      223
2  3m Health Care_Cavilon No Sting 3ml Barr      105       94
3   3m Health Care_Cavilon No Sting Barrier      454      412
4         A.S Saliva Orthana Spy 50ml (App)       84      121

In [43]:
merged_scripts.rename(columns={'count_x': 'raw_2016_count', 'count_y': 'raw_2017_count'}, inplace=True)

merged_scripts.head()

                                   bnf_name  raw_2016_count  raw_2017_count
0  3m Health Care_Cavilon Durable Barrier C             825             816
1  3m Health Care_Cavilon No Sting 1ml Barr             231             223
2  3m Health Care_Cavilon No Sting 3ml Barr             105              94
3   3m Health Care_Cavilon No Sting Barrier             454             412
4         A.S Saliva Orthana Spy 50ml (App)              84             121

Calculating change in growth rate...

In [46]:
merged_scripts['growth_rate'] = (
    (merged_scripts['raw_2017_count'] - merged_scripts['raw_2016_count']) / merged_scripts['raw_2016_count']
)

merged_scripts.head()

,bnf_name,raw_2016_count,raw_2017_count,growth_rate
0,3m Health Care_Cavilon Durable Barrier C,825,816,-0.010909
1,3m Health Care_Cavilon No Sting 1ml Barr,231,223,-0.034632
2,3m Health Care_Cavilon No Sting 3ml Barr,105,94,-0.104762
3,3m Health Care_Cavilon No Sting Barrier,454,412,-0.092511
4,A.S Saliva Orthana Spy 50ml (App),84,121,0.440476

In [50]:
merged_scripts = merged_scripts.sort_values('growth_rate', ascending=False)
merged_scripts.head()

,bnf_name,raw_2016_count,raw_2017_count,growth_rate
431,Butec_Transdermal Patch 5mcg/hr,62,277,3.467742
430,Butec_Transdermal Patch 10mcg/hr,69,276,3.000000
1409,Fostair NEXThaler_Inh 200mcg/6mcg (120D),86,209,1.430233
2612,Pneumococcal_Vac 0.5ml Vl (23 Valent),193,438,1.269430
3033,Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev,52,118,1.269231

In [51]:
merged_scripts.tail()

,bnf_name,raw_2016_count,raw_2017_count,growth_rate
1623,Hydroxyzine HCl_Oral Soln 10mg/5ml,94,8,-0.914894
2471,Ovysmen_Tab,67,5,-0.925373
625,Climaval_Tab 1mg,136,10,-0.926471
627,Climesse_Tab,69,4,-0.942029
2613,Polyalc_Eye Dps 1.4%,272,1,-0.996324

merge the top 50 (largetst growth) to the last 50 (largest shrinkage)...

In [59]:
# resp = pd.concat([merge_scripts.head(50),merge_scripts.tail(50)])
result = pd.concat([merged_scripts.head(50), merged_scripts.tail(50)])

result

,bnf_name,raw_2016_count,raw_2017_count,growth_rate
431,Butec_Transdermal Patch 5mcg/hr,62,277,3.467742
430,Butec_Transdermal Patch 10mcg/hr,69,276,3.000000
1409,Fostair NEXThaler_Inh 200mcg/6mcg (120D),86,209,1.430233
2612,Pneumococcal_Vac 0.5ml Vl (23 Valent),193,438,1.269430
3033,Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev,52,118,1.269231
3257,Trulicity_Inj 1.5mg/0.5ml Pf Pen,54,118,1.185185
854,CosmoCol_Paed Oral Pdr Sach 6.9g,62,135,1.177419
1077,Dulaglutide_Inj 1.5mg/0.5ml Pf Dev,82,161,0.963415
3375,ViATIM_Vac D/Chamber 160u/25mcg 1ml Pfs,125,239,0.912000
1140,Empagliflozin_Tab 25mg,125,237,0.896000
503,CareSens Lancets 0.31mm/30 Gauge,67,127,0.895522
1411,Fostair_Inh 200mcg/6mcg (120D) CFF,253,471,0.861660
2462,Orbis Nor Saline Sod Chlor 0.9% Nsl Dps,85,158,0.858824
3282,Umeclidinium Brom_Inh 65mcg (30D),87,159,0.827586
3279,Ultibro Breezhaler_Pdr Inh Cap + Dev,121,218,0.801653
2041,Medihoney_Barrier Crm,88,157,0.784091
1346,Fluoxetine HCl_Oral Soln 20mg/5ml S/F,73,130,0.780822
3095,TEE2 (Reagent)_Strips,81,144,0.777778
3430,Zaluron XL_Tab 400mg,58,102,0.758621
1873,Laxido_Paed Plain Oral Pdr Sach 6.9g,174,306,0.758621
2641,Prednisolone_Oral Soln 5mg/5ml Ud,73,126,0.726027
416,Buprenorphine_Patch 15mcg/hr (7day),109,187,0.715596
795,Coloplast_SenSura Mio Maxi Drnbl Bag S/C,81,138,0.703704
2382,Octenisan_Antimicrobial Wsh Lot,74,126,0.702703
1076,Duaklir Genuair_340mcg/12mcg (60D),152,254,0.671053
2992,Sod Chlor_Inh Soln 0.9% 2.5ml Ud Amp,162,266,0.641975
794,Coloplast_SenSura Mio Maxi Drnbl Bag L/C,51,83,0.627451
1375,Flutiform_Inha 50/5mcg (120 D),88,143,0.625000
1688,Ins Degludec_100u/ml 3ml Pf Pen,60,97,0.616667
504,CareSens Lancets 0.36mm/28 Gauge,90,145,0.611111
...,...,...,...,...
3396,Vital 1.5kcal_Liq (Vanilla),75,34,-0.546667
2488,Oxybutynin HCl_Oral Soln 2.5mg/5ml S/F,61,27,-0.557377
2634,Prazosin HCl_Tab 500mcg,86,38,-0.558140
194,Artificial Saliva_Spy 50ml,213,94,-0.558685
3074,Sunsense_Ultra Lot Spf 50+,368,160,-0.565217
3132,Telfast 120_Tab 120mg,93,40,-0.569892
2468,Otrivine-Antistin_Eye Dps,138,59,-0.572464
1305,Fexofenadine HCl_Tab 30mg,297,120,-0.595960
2016,Mag Trisil_Mix,67,26,-0.611940
1480,Glibenclamide_Tab 5mg,146,56,-0.616438
710,Co-Danthrusate_Cap 50mg/60mg,81,30,-0.629630
1832,Ketotifen Fumar_Eye Dps 250mcg/ml,57,18,-0.684211
3317,Uvistat_Sun Crm Spf 50,133,41,-0.691729
1571,Haelan_Tape 7.5cm x 50cm,115,33,-0.713043
1570,Haelan_Tape 7.5cm x 20cm,100,28,-0.720000
307,Beconase_Hayfever Nsl Spy 50mcg (180 D),65,17,-0.738462
3316,Uvistat_Sun Crm Spf 30,68,16,-0.764706
912,Deep Freeze_Cold Gel 2%,58,13,-0.775862
60,Adizem-SR_Tab 120mg,52,9,-0.826923
153,Anugesic HC_Crm,96,14,-0.854167
3073,Sunsense_Sunsensitive Crm SPF 50+,153,22,-0.856209
1584,Hepatyrix_Vac 1440u/25mcg/ml 1ml Pfs,216,27,-0.875000
624,Climagest_Tab 2mg,66,7,-0.893939
626,Climaval_Tab 2mg,132,13,-0.901515
2464,Orphenadrine HCl_Tab 50mg,102,9,-0.911765
1623,Hydroxyzine HCl_Oral Soln 10mg/5ml,94,8,-0.914894
2471,Ovysmen_Tab,67,5,-0.925373
625,Climaval_Tab 1mg,136,10,-0.926471
627,Climesse_Tab,69,4,-0.942029
2613,Polyalc_Eye Dps 1.4%,272,1,-0.996324

In [60]:
result = result[['bnf_name', 'growth_rate', 'raw_2016_count']]

result.head()

                                      bnf_name  growth_rate  raw_2016_count
431            Butec_Transdermal Patch 5mcg/hr     3.467742              62
430           Butec_Transdermal Patch 10mcg/hr     3.000000              69
1409  Fostair NEXThaler_Inh 200mcg/6mcg (120D)     1.430233              86
2612     Pneumococcal_Vac 0.5ml Vl (23 Valent)     1.269430             193
3033  Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev     1.269231              52

In [63]:
result['raw_2016_count'] = result['raw_2016_count'].astype('float')

result.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                      bnf_name  growth_rate  raw_2016_count
431            Butec_Transdermal Patch 5mcg/hr     3.467742            62.0
430           Butec_Transdermal Patch 10mcg/hr     3.000000            69.0
1409  Fostair NEXThaler_Inh 200mcg/6mcg (120D)     1.430233            86.0
2612     Pneumococcal_Vac 0.5ml Vl (23 Valent)     1.269430           193.0
3033  Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev     1.269231            52.0

In [65]:
# anomalies = list(results.itertuples(index=False, name=None))[:100]
# anomalies[:2]

script_growth = list(result.itertuples())

# len(script_growth)
script_

100

In [ ]:
# script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100

In [ ]:
grader.score.dw__script_growth(script_growth)

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [27]:
# scripts.bnf_code.value_counts().reset_index(name='bnf_count')

In [28]:
groupby_bnf_code = scripts.groupby(['bnf_code'])['bnf_code'].count().reset_index(name='bnf_count')
groupby_bnf_code.head()

    bnf_code  bnf_count
0  0101010C0         34
1  0101010F0          2
2  0101010G0        375
3  0101010I0         34
4  0101010J0         41

In [31]:
groupby_bnf_code['p'] = groupby_bnf_code['bnf_count']/len(scripts)
groupby_bnf_code.head()

    bnf_code  bnf_count         p
0  0101010C0         34  0.000035
1  0101010F0          2  0.000002
2  0101010G0        375  0.000385
3  0101010I0         34  0.000035
4  0101010J0         41  0.000042

In [39]:
# p = ...
# rates = ...
# rare_codes = ...
# scripts['rare'] = ...

In [40]:
# overall probability:
p = 1 / len(groupby_bnf_code)
p

0.0005063291139240507

Add a column with values 1 or 0 for rare or not

In [45]:
groupby_bnf_code['rare'] = (groupby_bnf_code['p'] < 0.1*p).astype(int)
groupby_bnf_code.head()

    bnf_code  bnf_count         p  rare
0  0101010C0         34  0.000035     1
1  0101010F0          2  0.000002     1
2  0101010G0        375  0.000385     0
3  0101010I0         34  0.000035     1
4  0101010J0         41  0.000042     1

In [50]:
# merge scripts and groupby_bnf_code
scripts_rare = scripts.merge(groupby_bnf_code, on='bnf_code', how='left')
scripts_rare.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,bnf_count,p,rare
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,1035,0.001064,0
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,4868,0.005002,0
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,6865,0.007054,0
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,2141,0.002200,0
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,2217,0.002278,0

In [53]:
# Total cost per practice
total_cost_per_practice = scripts_rare.groupby('practice')['act_cost'].sum().reset_index(name='total_cost')
total_cost_per_practice.head()

  practice  total_cost
0   A81005   103840.82
1   A81007   113482.49
2   A81011   159507.03
3   A81012    83296.81
4   A81017   232656.17

In [55]:
# costs from rare
rare_cost = scripts_rare[scripts_rare['rare'] == 1].groupby('practice')['act_cost'].sum().reset_index(name='rare_cost')
rare_cost.head()

  practice  rare_cost
0   A81005    1247.83
1   A81007     951.06
2   A81011     816.02
3   A81012    1145.11
4   A81017    1712.15

In [58]:
# Merge rare_cost to total_cost_per_practice and fill empty values with 0
script_cost = total_cost_per_practice.merge(rare_cost, on='practice', how='left').fillna(0)
script_cost.head()

  practice  total_cost  rare_cost
0   A81005   103840.82    1247.83
1   A81007   113482.49     951.06
2   A81011   159507.03     816.02
3   A81012    83296.81    1145.11
4   A81017   232656.17    1712.15

In [60]:
script_cost['rare_cost_prop'] = (script_cost['rare_cost'] / script_cost['total_cost'])
script_cost.head()

  practice  total_cost  rare_cost  rare_cost_prop
0   A81005   103840.82    1247.83        0.012017
1   A81007   113482.49     951.06        0.008381
2   A81011   159507.03     816.02        0.005116
3   A81012    83296.81    1145.11        0.013747
4   A81017   232656.17    1712.15        0.007359

In [ ]:
# total_cost = scripts['act_cost'].sum()
# total_rare_cost = scripts_rare[scripts_rare['rare'] == 1]['act_cost'].sum()
# overall_rare_cost = total_rare_cost / total_cost

In [65]:
# overall rare cost proportion (the proportion of costs originating from rare treatments across all practices)

total_cost = scripts['act_cost'].sum()
total_rare_cost = scripts_rare[scripts_rare['rare'] == 1]['act_cost'].sum()

overall_rare_cost_prop = total_rare_cost / total_cost
overall_rare_cost_prop

0.015962901360950386

In [70]:
"""
calculate relative rare cost proportions by taking the difference of rare_cost_prop and
overall_rare_cost_props
"""
relative_rare_cost_prop = script_cost['rare_cost_prop'] - overall_rare_cost_prop
relative_rare_cost_prop.head()

0   -0.003946
1   -0.007582
2   -0.010847
3   -0.002216
4   -0.008604
Name: rare_cost_prop, dtype: float64

In [72]:
# make the relative_rare_cost_prop a column on script_cost
script_cost['relative_rare_cost_prop'] = relative_rare_cost_prop
script_cost.head()

  practice  total_cost  rare_cost  rare_cost_prop  relative_rare_cost_prop
0   A81005   103840.82    1247.83        0.012017                -0.003946
1   A81007   113482.49     951.06        0.008381                -0.007582
2   A81011   159507.03     816.02        0.005116                -0.010847
3   A81012    83296.81    1145.11        0.013747                -0.002216
4   A81017   232656.17    1712.15        0.007359                -0.008604

In [74]:
# finding the standard_errors
standard_errors = script_cost['relative_rare_cost_prop'].std()
standard_errors

0.06050888706745139

In [76]:
# add a column for z_score
script_cost['z_scores'] = script_cost['relative_rare_cost_prop'] / standard_errors
script_cost.head()

,practice,total_cost,rare_cost,rare_cost_prop,relative_rare_cost_prop,z_scores
0,A81005,103840.82,1247.83,0.012017,-0.003946,-0.065216
1,A81007,113482.49,951.06,0.008381,-0.007582,-0.125308
2,A81011,159507.03,816.02,0.005116,-0.010847,-0.179263
3,A81012,83296.81,1145.11,0.013747,-0.002216,-0.036615
4,A81017,232656.17,1712.15,0.007359,-0.008604,-0.142190

In [81]:
# find unique alphabetically first name from practices data frame
unique_practices = practices.groupby('code')['name'].min().reset_index()
unique_practices.head()

     code                        name
0  A81001         THE DENSHAM SURGERY
1  A81002  QUEENS PARK MEDICAL CENTRE
2  A81003   VICTORIA MEDICAL PRACTICE
3  A81004     BLUEBELL MEDICAL CENTRE
4  A81005          SPRINGWOOD SURGERY

In [84]:
# merge the uniques_practices to the script_cost
df_z_scores = script_cost.merge(unique_practices, how = 'inner', left_on = 'practice', right_on = 'code', sort = False)

df_z_scores.head()

,practice,total_cost,rare_cost,rare_cost_prop,relative_rare_cost_prop,z_scores,code,name
0,A81005,103840.82,1247.83,0.012017,-0.003946,-0.065216,A81005,SPRINGWOOD SURGERY
1,A81007,113482.49,951.06,0.008381,-0.007582,-0.125308,A81007,BANKHOUSE SURGERY
2,A81011,159507.03,816.02,0.005116,-0.010847,-0.179263,A81011,CHADWICK PRACTICE
3,A81012,83296.81,1145.11,0.013747,-0.002216,-0.036615,A81012,WESTBOURNE MEDICAL CENTRE
4,A81017,232656.17,1712.15,0.007359,-0.008604,-0.142190,A81017,WOODBRIDGE PRACTICE

In [87]:
# select required fields, sort the values in descending order of z_score and take the first 100 rows

final = (
    df_z_scores[['practice', 'name', 'z_scores']]
    .sort_values('z_scores', ascending=False)
    .head(100)
)

final.head()

    practice                               name   z_scores
765   Y03472           CONSULTANT DIABETES TEAM  16.262687
831   Y05320     DMC COMMUNITY DERMATOLOGY RBWF  15.128648
793   Y04404  OUTPATIENTS JUBILEE HEALTH CENTRE   7.542139
766   Y03484   DMC COMMUNITY DERMATOLOGY CLINIC   7.287222
794   Y04424                     DMC HEALTHCARE   6.838614

In [92]:
# convert to tuples
rare_scripts = list(final.itertuples(index=False, name=None))
rare_scripts[:2]

[('Y03472', 'CONSULTANT DIABETES TEAM', 16.262687124655073),
 ('Y05320', 'DMC COMMUNITY DERMATOLOGY RBWF', 15.128648195416869)]

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [ ]:
rare_cost_prop = ...

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [ ]:
relative_rare_cost_prop = ...

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [ ]:
standard_errors = ...

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [ ]:
rare_scores = ...

In [ ]:
# rare_scripts = [("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [93]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2019 The Data Incubator.  All rights reserved.*